@tailwind base;
@tailwind components;
@tailwind utilities;

#root, *{
  color: #ffffff;
}
body {
  background-color: #1a1a1a;
}
#tasklist:-webkit-scrollbar{
  display:none;
} 







/* @tailwind base;
@tailwind components;
@tailwind utilities;

#root, *{
  color: #000000;
}
body {
  background-color: #000000;
}
#tasklist:-webkit-scrollbar{
  display:none;
} */



/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* *{
  color: #fff;
}
body{
  background-color: #111;
}
#tasklist::-webkit-scrollbar{
    background-color: transparent;
    height: 5px;
}
#tasklist::-webkit-scrollbar-thumb{
  background-color: rgb(143, 143, 143);
  border-radius: 50px;
} */


/* #root, *{
  color: #000000;
}
body {
  background-color: #000000;
}
#tasklist:-webkit-scrollbar{
  display:none;
}  */

